#root {
  width: 100%;
  margin: 0 auto;
}

.prose {
  max-width: 65ch;
  color: inherit;
}

.prose p {
  margin-bottom: 1em;
}

.prose h1, .prose h2, .prose h3, .prose h4 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-weight: 600;
}

.dark .prose {
  color: inherit;
}